In [1]:
import pandas as pd
import numpy as np

In [171]:
# rating.csv from this link: https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset?select=rating.csv
ratings_org = pd.read_csv('rating.csv')

In [172]:
ratings_org.shape

(20000263, 4)

In [173]:
ratings_org.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [177]:
ratings = ratings_org[['userId', 'movieId', 'rating']][:1000000]
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [178]:
ratings_pivot = ratings.pivot(index='userId', columns='movieId', values='rating').T.fillna(0)
ratings_pivot

userId,1,2,3,4,5,6,7,8,9,10,...,6734,6735,6736,6737,6738,6739,6740,6741,6742,6743
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,0.0,4.0,...,0.5,4.0,4.0,3.0,0.0,4.0,0.0,4.0,0.0,4.0
2,3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [179]:
ratings_pivot.shape

(13950, 6743)

In [181]:
# Just to observe that how many movies each user has scored
ratings_pivot.T.apply(lambda x: sum([1 if num > 1 else 0 for num in x]), axis = 1)

userId
1       175
2        61
3       184
4        27
5        66
       ...
6739    598
6740     23
6741     67
6742     20
6743    198
Length: 6743, dtype: int64

In [182]:
# How many scores each movie has
ratings_pivot.apply(lambda x: sum([1 if num > 1 else 0 for num in x]), axis = 1)

movieId
1         2414
2         1070
3          622
4          122
5          580
          ...
130073       1
130219       1
130462       1
130490       1
130642       1
Length: 13950, dtype: int64

In [183]:
# What are the movies ids that user with user id user_id has not watched yet
def movies_not_watched_by(user_id):
    watched_movies = ratings[ratings['userId']==user_id]['movieId'].tolist()
    # Diffrence all of the movies from the watched ones
    return set(ratings['movieId']).difference(watched_movies)

movies_not_watched_by(1)

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 31,
 65567,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 65585,
 49,
 52,
 51,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 32853,
 92,
 93,
 94,
 95,
 96,
 97,
 65631,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 65642,
 109,
 110,
 111,
 113,
 114,
 32882,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 32892,
 128,
 129,
 130,
 131,
 132,
 32898,
 134,
 135,
 136,
 65672,
 138,
 139,
 140,
 141,
 137,
 142,
 144,
 145,
 65682,
 147,
 146,
 149,
 150,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 33,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 32954,
 193,
 194,
 195,
 196,
 192,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 32988,
 220,
 222,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 33004,
 239,
 238,
 241,
 242,
 243,
 240,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 254,
 255,
 256,
 257,
 258,
 259,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 65813,
 65817,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 294,
 295,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 33072,
 311,
 312,
 313,
 314,
 315,
 316,
 33085,
 317,
 319,
 321,
 322,
 320,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 65868,
 336,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 33136,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 33145,
 387,
 388,
 389,
 390,
 391,
 386,
 393,
 33162,
 394,
 396,
 397,
 33166,
 33158,
 392,
 33164,
 402,
 33171,
 65939,
 405,
 404,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 33193,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 430,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 98809,
 505,
 507,
 508,
 509,
 510,
 511,
 512,
 506,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 33294,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 33312,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 66090,
 558,
 559,
 66092,
 66097,
 562,
 563,
 564,
 561,
 565,
 567,
 568,
 569,
 570,
 566,
 572,
 573,
 574,
 575,
 6626,
 577,
 571,
 33340,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 590,
 33358,
 592,
 594,
 595,
 596,
 597,
 66130,
 599,
 598,
 601,
 602,
 603,
 33363,
 605,
 606,
 600,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 66156,
 621,
 6635,
 623,
 624,
 6778,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 66171,
 635,
 637,
 638,
 639,
 640,
 641,
 33410,
 53,
 636,
 645,
 127,
 647,
 648,
 649,
 650,
 651,
 652,
 33421,
 98956,
 656,
 98961,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 66198,
 667,
 668,
 33437,
 670,
 671,
 66203,
 673,
 674,
 666,
 676,
 672,
 678,
 679,
 680,
 681,
 675,
 682,
 683,
 685,
 33454,
 687,
 688,
 684,
 690,
 691,
 692,
 6649,
 694,
 695,
 696,
 697,
 698,
 33463,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 99007,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 33493,
 725,
 726,
 728,
 33495,
 727,
 731,
 33499,
 733,
 732,
 735,
 736,
 737,
 734,
 730,
 739,
 741,
 742,
 743,
 99043,
 745,
 746,
 747,
 748,
 148,
 750,
 751,
 752,
 753,
 754,
 66289,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 66297,
 764,
 765,
 766,
 767,
 66304,
 769,
 763,
 771,
 772,
 773,
 33539,
 775,
 776,
 774,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 66320,
 788,
 787,
 33558,
 790,
 789,
 793,
 66330,
 795,
 33564,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 99112,
 809,
 99114,
 810,
 808,
 813,
 99117,
 99110,
 816,
 33585,
 818,
 66354,
 820,
 819,
 821,
 823,
 824,
 33592,
 822,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 66371,
 836,
 837,
 838,
 839,
 840,
 835,
 842,
 841,
 844,
 845,
 99149,
 33615,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 66385,
 33621,
 855,
 858,
 856,
 860,
 861,
 862,
 857,
 864,
 6684,
 866,
 867,
 868,
 869,
 870,
 33639,
 872,
 871,
 99178,
 875,
 876,
 877,
 33646,
 879,
 880,
 881,
 33644,
 33649,
 884,
 885,
 886,
 887,
 888,
 889,
 882,
 891,
 33660,
 892,
 893,
 66427,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 33679,
 912,
 911,
 914,
 915,
 916,
 913,
 918,
 920,
 921,
 922,
 923,
 917,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 33722,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 66509,
 973,
 975,
 976,
 66511,
 974,
 979,
 980,
 981,
 982,
 33750,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 197,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 ...}

In [224]:
from sklearn.neighbors import NearestNeighbors

# Find the K nearest neighbors for every movie based on the ratings
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(ratings_pivot.values)
distances, indices = knn.kneighbors(ratings_pivot.values, n_neighbors=3)

In [196]:
indices

array([[    0,   254,   751, ...,   709,    31,  1208],
       [    1,   360,   490, ...,   577,   585,   709],
       [    2,     4,   709, ...,   628,   131,   681],
       ...,
       [13947, 11486, 13376, ...,  9921, 11208, 12441],
       [13948, 13609, 13939, ...,  8208, 12680,  8895],
       [13068, 13949,  9775, ..., 13081, 13298,  9937]], dtype=int64)

In [236]:
def recommend_movie(user_id):
    # Get the unwatched movie ids
    # We use this list to predict the scores of them for this user
    movies_not_watched = movies_not_watched_by(user_id)

    user_final_similar_movies_rates = []

    # Iterate through the not watched movies to estimate their scores
    for movie_id in movies_not_watched:
        # Get the index of the movie in the KNN Indices list
        movie_knn_index = np.where(ratings_pivot.index.values == movie_id)
        # Find the list of simialr movies ids
        similar_movies_to_this_movie_that_user_liked = list(indices[movie_knn_index][0])
        similar_movies_distances = list(distances[movie_knn_index][0])
        
        if movie_knn_index in similar_movies_to_this_movie_that_user_liked:
            # The index of the movie id itself in the list
            iii = similar_movies_to_this_movie_that_user_liked.index(movie_knn_index)
            # Remove the movie index itself from the list
            similar_movies_to_this_movie_that_user_liked.pop(iii)
            # Remove the movie distance itself from the list
            similar_movies_distances.pop(iii)
        else:
            # ELSE is for the time that the movie vector is all zero.
            # So it finds similar movies as they are all zero
            # So the movie index itself is not in the list
            # So we remove the furthest in the list which is the last one
            similar_movies_to_this_movie_that_user_liked = similar_movies_to_this_movie_that_user_liked[:-1]
            similar_movies_distances = similar_movies_distances[:-1]

        # The similarities of the movies
        movies_similarities = [1-sim for sim in similar_movies_distances]

        all_predicted_scores = []
        for index, sim_value in enumerate(movies_similarities):
            try: # We use try/except because we do not load all the data as it is very big so some movies are not loaded and we may have Key Error
                # Multiply the score of the similar movie that this user gave to it, to the similary of this movie to the actual movie
                predicted_score = ratings_pivot[similar_movies_to_this_movie_that_user_liked[index]][user_id] * sim_value
                # If user has scores the movie, save the predicted value to calculate later
                if predicted_score != 0:
                    all_predicted_scores.append(predicted_score)
            except KeyError:
                pass

        final = sum(all_predicted_scores)/len(all_predicted_scores) if all_predicted_scores else 0
        user_final_similar_movies_rates.append((movie_id, final))

    return user_final_similar_movies_rates

In [238]:
# This function gets the user_id and n(default:3)
# And recommends 3 movies for the specified user
def recommend_n_movies_to_user(user_id, n=3):
    movies = recommend_movie(user_id)
    three_movies = list(sorted(movies, key=lambda x: x[1], reverse=True))[:n]

    return three_movies

# for the user user_id=100 it recommends movies: 3058, 4576, 3933
recommend_n_movies_to_user(100)

[(3058, 5.0), (4576, 3.74575484088009), (3933, 3.7218613961635185)]